* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    background-attachment: fixed;
    /* min-height: calc(100vh - 60px); */
    margin: 20px;
    /* background: white; */
    background-position: fixed;
    letter-spacing: -1px;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 1;
}

nav.tabs {
    display: block;
    background: white;
    box-shadow: 0px -2px 35px black;
    height: 60px;
}

nav.tabs a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: black;
    transition: 0.2s;
}

nav.tabs a.right {
    float: right;
}

nav.tabs a:hover {
    background: #EEE;
    border-bottom: 2px solid black;
}

.content .home-main .home-article {
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
}

.content .home-main .home-article h2 {
    padding-bottom: 20px;
}

.form {
    display: grid;
    grid-template-columns: 80px 220px;
    /* grid-template-columns: repeat(auto-fit); */
    grid-gap: 20px;
    padding: 30px;
    border: 2px solid black;
    background: white;
    border-radius: 20px;
    transition: all 0.2s;
}

.form>p,
.form>a {
    word-wrap: break-word;
    grid-column: span 2;
    text-align: center;
}

.form:hover {
    box-shadow: 10px 10px 0 0 black;
    transform: translate3d(-5px, -5px, -5px);
}

.form input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    transition: all 0.1s ease-in;
}

.form label {
    margin-top: 12px;
    grid-column: 1 / 2;
    font-weight: 600;
    /* align-self: right; */
    text-align: right;
}

.form div .field {
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.form div .field:hover {
    transform: scale(1.1);
}

.form div .field:focus {
    border-bottom-color: blue;
    transition: 1s ease;
    transform: initial;
    /* transform: scale(1.1); */
}

.form .btn {
    width: 50% !important;
    justify-self: center;
    background-color: rgb(221, 221, 221);
    color: black;
    grid-column: auto / span 2;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 0 0 black;
}

.form .btn:focus,
.form .btn:active {
    transform: translateY(5px);
    box-shadow: none;
}

/* input,
button,
p {
    grid-column: 2/3;
} */

.form h2 {
    grid-column: auto / span 2;
}

.form .hint {
    opacity: 0.4;
    font-size: 10px;
    margin: 5px;
}

.form .form-msg {
    grid-column: span 2;
}

.error,
.error:-webkit-autofill {
    background-color: #FDC6c6 !important;
    background: #fdc6c6 url(../img/error.png) no-repeat 98% center !important;
    box-shadow: 0 0 5px #FF5252 !important;
    border-bottom: solid 2px red !important;
    -webkit-text-fill-color: red !important;
}

.error-hint {
    opacity: 1.0 !important;
    color: red;
}

.correct,
.correct:-webkit-autofill {
    background: #caffc6 url(../img/correct.png) no-repeat 98% center !important;
    box-shadow: 0 0 5px rgb(97, 255, 82) !important;
    border-color: rgb(50, 255, 23) !important;
}

.correct-hint {
    opacity: 1.0 !important;
    color: green;
}

th {
    background-color: #eee;
    font-weight: bold;
}

th,
td {
    border: 0.125em solid black;
    line-height: 1.5;
    padding: 0.75em;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background: #EEE;
}

table tbody tr:hover {
    background: burlywood;
}

table button {
    padding: 7px;
    border: none;
    outline: none;
    color: white;
    background: red;
}

table {
    padding: 0px;
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    transition: all 0.2s;
    overflow: hidden;
}