.form {
    display: grid;
    /* grid-template-columns: 80px 220px; */
    grid-template-columns: repeat(auto-fit);
    grid-gap: 20px;
    padding: 30px;
    border: 2px solid black;
    background: white;
    border-radius: 20px;
    transition: all 0.2s;
}

.form:hover {
    box-shadow: 10px 10px 0 0 black;
    transform: translate3d(-5px, -5px, -5px);
}

.form input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    transition: all 0.1s ease-in;
}

.form label {
    margin-top: 12px;
    grid-column: 1 / 2;
    font-weight: 600;
    /* align-self: right; */
    text-align: right;
}

.form div .field {
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.form div .field:hover {
    transform: scale(1.1);
}

.form div .field:focus {
    border-bottom-color: blue;
    transition: 1s ease;
    transform: initial;
    /* transform: scale(1.1); */
}

.form .btn {
    width: 50% !important;
    justify-self: center;
    background-color: rgb(221, 221, 221);
    color: black;
    grid-column: auto / span 2;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 0 0 black;
}

.form .btn:focus,
.form .btn:active {
    transform: translateY(5px);
    box-shadow: none;
}


/* input,
button,
p {
    grid-column: 2/3;
} */

.form h2 {
    grid-column: auto / span 2;
}

.form .hint {
    opacity: 0.4;
    font-size: 10px;
    margin: 5px;
}

.form .form-msg {
    grid-column: span 2;
}

.error,
.error:-webkit-autofill {
    background-color: #FDC6c6 !important;
    background: #fdc6c6 url(../img/error.png) no-repeat 98% center !important;
    box-shadow: 0 0 5px #FF5252 !important;
    border-bottom: solid 2px red !important;
    -webkit-text-fill-color: red !important;
}

.error-hint {
    opacity: 1.0 !important;
    color: red;
}

.correct,
.correct:-webkit-autofill {
    background: #caffc6 url(../img/correct.png) no-repeat 98% center !important;
    box-shadow: 0 0 5px rgb(97, 255, 82) !important;
    border-color: rgb(50, 255, 23) !important;
}

.correct-hint {
    opacity: 1.0 !important;
    color: green;
}