.form {
    display: grid;
    grid-template-columns: 80px 220px;
    grid-gap: 20px;
    padding: 30px;
    border: 2px solid black;
    background: white;
    border-radius: 20px;
    transition: all 0.2s;
}

.form:hover {
    box-shadow: 10px 10px 0 0 black;
    transform: translate3d(-5px, -5px, -5px);
}

.form label {
    margin-top: 12px;
    grid-column: 1 / 2;
    /* align-self: right; */
    text-align: center;
}

.form div input:not([type^="button"]):not([type^="submit"]) {
    background: #caffc6;
    border-radius: 20px;
}

.form div #username,
.form div #password,
.form #login {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    transition: all 0.1s ease-in;
}

.form div #username:hover,
.form div #password:hover {
    transform: scale(1.1);
}

.form #login {
    width: 50% !important;
    justify-self: center;
    grid-column: auto / span 2;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 0 0 black;
}

.form #login:focus,
.form #login:active {
    transform: translateY(5px);
    box-shadow: none;
}

input,
button,
p {
    grid-column: 2/3;
}

.hint {
    opacity: 0.4;
    font-size: 10px;
    margin: 5px;
}

.error {
    background: #fdc6c6 url(../img/error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-bottom: solid 2px red !important;
    -webkit-text-fill-color: red !important;
}

.correct {
    background: #caffc6 url(../img/correct.png) no-repeat 98% center !important;
    box-shadow: 0 0 5px rgb(97, 255, 82) !important;
    border-color: rgb(50, 255, 23) !important;
}