th {
    background-color: #eee;
    font-weight: bold;
}

th,
td {
    border: 0.125em solid #333;
    line-height: 1.5;
    padding: 0.75em;
    text-align: left;
}

table {
    background: sandybrown;
}