th {
    background-color: #eee;
    font-weight: bold;
}

th,
td {
    border: 0.125em solid black;
    line-height: 1.5;
    padding: 0.75em;
    text-align: center;

}

table tbody tr:nth-child(even){
    background: #EEE;
}

table tbody tr:hover{
    background: burlywood;
}

table button{
    padding: 7px;
    border:none;
    outline: none;
    color: white;
    background: red;
}

table {
    padding: 0px;
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    transition: all 0.2s;
    overflow: hidden;
}