* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    background-attachment: fixed;
    /* min-height: calc(100vh - 60px); */
    margin: 20px;
    /* background: white; */
    background-position: fixed;
    letter-spacing: -1px;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 1;
}

nav.tabs {
    display: block;
    background: white;
    box-shadow: 0px -2px 35px black;
    height: 60px;
}

nav.tabs a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: black;
    transition: 0.2s;
}

nav.tabs a.right {
    float: right;
}

nav.tabs a:hover {
    background: #EEE;
    border-bottom: 2px solid black;
}

.content .home-main .home-article {
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
}

.content .home-main .home-article h2 {
    padding-bottom: 20px;
}

.content~footer {
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: orange;
    border-top: 1px solid black;
    z-index: -1;
}