* {
    padding: 0;
    margin: 0;
}

body {
    /* background: url(../img/hypnotize.png) repeat center; */
    background: url(../img/brushed-alum.png), #44344F;
    /* Old browsers */
    background: url(../img/brushed-alum.png), -moz-linear-gradient(45deg, #44344F 0%, #44344F 50%, #98A6D4 100%);
    /* FF3.6-15 */
    background: url(../img/brushed-alum.png), -webkit-linear-gradient(45deg, #44344F 0%, #44344F 50%, #98A6D4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: url(../img/brushed-alum.png), linear-gradient(45deg, #44344F 0%, #44344F 50%, #98A6D4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#44344F', endColorstr='#98A6D4', GradientType=0);
    /* IE6-9 */
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-position: fixed;
    letter-spacing: -1px;
}

main {
    margin-top: 35px;
}


/* Form CSS */

#loginform {
    display: grid;
    justify-content: center;
}

#loginform fieldset {
    overflow: hidden;
    border-radius: 30px;
    display: block;
    text-align: center;
    background-color: #FFF9F7;
}

#loginform fieldset .formHeader {
    background: #564D80;
    padding: 15px;
    font-family: 'Reem Kufi', sans-serif;
    color: #FFF9F7;
}

#loginform fieldset #fields .form-fields {
    display: block;
    padding: 15px;
    text-align: left
}

#loginform fieldset #fields .form-fields div:first-child {
    text-align: center;
}

#loginform fieldset #fields .submit-field {
    text-align: center;
}

#loginform fieldset #fields .form-fields .msg:not(.links) {
    margin: 5px 0 5px 0;
    font-size: 14px;
    opacity: 0.4;
}

#loginform legend {
    margin: 0 15px;
}

#fields {
    padding: 10px 40px;
    justify-content: center;
}

#loginform #fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Lora', serif;
    text-align: left;
    color: #564D80;
}

#loginform #fields input {
    height: 30px;
    padding: 0 6px;
    border: none;
    outline: none;
}

#loginform #fields .form-fields .datafield {
    width: 100%;
    background-color: #FFF9F7;
    color: black;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 2px #C2F970;
    transition: 0.3s;
    font-family: 'Trocchi', serif;
}

#loginform #fields .form-fields .datafield:hover:not(.error):not(.correct) {
    border-bottom: solid 2px #564D80;
    box-shadow: 0 0 1px rgb(152, 179, 255);
    transition: 0.5s;
}

#loginform #fields .datafield:focus:not(.error):not(.correct) {
    border-bottom: solid 2px #564D80;
    background: #e2e2e2;
    box-shadow: 0 0 5px rgb(152, 179, 255);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#loginform #fields .form-fields .submit-field #apply {
    background: #FFF9F7;
    color: #564D80;
    width: 36%;
    height: 102%;
    padding: 6%;
    border-radius: 7px;
    border: 2px solid #564D80;
    transition: 0.3s all;
    font-family: 'Lora', serif;
    font-weight: 600;
}

#loginform #fields .form-fields .submit-field #apply:hover {
    background: #564D80;
    color: #FFF9F7;
}

#loginform #fields .form-fields .links {
    margin-top: 25px;
}


/* End of Form CSS */

p,
a {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#loginform fieldset #fields .error {
    background: #fdc6c6 url(../img/error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-bottom: solid 2px red !important;
    -webkit-text-fill-color: red !important;
}

#loginform fieldset #fields .error:focus {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#loginform fieldset #fields .correct {
    background: #caffc6 url(../img/correct.png) no-repeat 98% center !important;
    box-shadow: 0 0 5px rgb(97, 255, 82) !important;
    border-color: rgb(50, 255, 23) !important;
}

#loginform fieldset #fields .correct:focus {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}