<nav class="tabs">
    <a href="/" id="_home">Home</a>
    <a href="/login" id="_login">Login</a>
    <a href="/register" id="_register">Register</a>
    <a href="/about" id="_about" class="right">About</a>
</nav>