<div class="login-form-container">
    <form id="loginForm" class="login form" method="POST" action="users/login">
        <header>
            <h2 class="form-title">Login</h2>
        </header>
        <main>
            <p>
                <input type="text" name="username" id="l_username" placeholder="Username">
                <span class="username-msg">Enter your username</span>
            </p>
            <p>
                <input type="password" name="password" id="l_password" placeholder="Password">
                <p>
                    <span class="password-msg">Enter your Password</span>
                </p>
            </p>
        </main>
        <footer>
            <input type="submit" id="login" value="Login">
        </footer>
    </form>
</div>
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<script src="javascripts/login.js"></script>