<div class="login-form-container">
    <form id="loginForm" class="login form" method="POST" action="/login">
        <h2>Login</h2>
        <label for="username">Username</label>
        <div>
            <input type="text" name="username" id="username" placeholder="Username">
            <p class="hint username-msg">Enter your username</p>
        </div>
        <label for="password">Password</label>
        <div>
            <input type="password" name="password" id="password" placeholder="Password">
            <p class="hint password-msg">Enter your Password</p>
        </div>
        <input type="submit" id="login" value="Login">
    </form>
</div>
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<script src="javascripts/login.js"></script>