<div class="register-form-container">
    <form id="registerForm" class="register form">
        <header>
            <h2 class="form-title">Register</h2>
        </header>
        <main>
            <p>
                <input type="text" name="username" id="r_username" placeholder="Username">
                <span class="username-msg">Enter new username</span>
            </p>
            <p>
                <input type="password" name="password" id="r_password" placeholder="Password">
                <p>
                    <span class="password-msg">Enter new Password</span>
                </p>
            </p>
            <p>
                <input type="email" name="email" id="r_email">
                <p>
                    <span class="email-msg">Enter new email</span>
                </p>
            </p>
        </main>
        <footer>
            <input type="button" id="register" value="Register">
        </footer>
    </form>
</div>
<link rel="stylesheet" type="text/css" href="stylesheets/register.css">
<script src="javascripts/register.js"></script>