<div class="home-main">
<article class="home-article">
<h2>Welcome <%= username %></h2>
This site is made by Abed Al Rahman Murrar as a Task in Asal Technologies using <a href="https://nodejs.org/en/" title="node.js Website">node.js</a>, to change your account settings go to <a href="/account">account page</a>, you can <a href="/logout">logout</a> if you're done.
</article>
</div>