<nav class="tabs">
    <a href="/" id="_home">Home</a>
    <a href="/logout" class="right">Logout</a>
    <a href="/about" id="_about" class="right">About</a>
    <a href="/account" id="_account" class="right">Account</a>
</nav>