<nav class="tabs">
    <a href="/" id="_home">Home</a>
    <a href="javascript:void(0)" id="nav-show"><i class="fas fa-angle-double-down"></i></a>
    <a href="/logout" class="right">Logout</a>
    <a href="/account" id="_account" class="right">Account</a>
    <a href="/about" id="_about">About</a>
</nav>