<div class="container">
    <form id="resetForm" class="reset form" method="PUT" action="/reset">
        <h2>reset password</h2>
        <p id="msg"></p>
        <label for="password">Password</label>
        <div>
            <input type="hidden" name="token" id="token" value="<%= token %>">
            <input type="password" name="password" id="password" placeholder="Password" class="field" required>
            <p class="hint password-msg">Enter your new password</p>
        </div>
        <label for="confirmPassword">Confirm Password</label>
        <div>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="field" required>
            <p class="hint confirmPassword-msg">Confirm your new password</p>
        </div>
        <input type="submit" id="reset" value="Reset" class="btn">
    </form>
</div>
